* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Segoe UI Medium", Tahoma, Geneva, Verdana,
    sans-serif;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 1.2rem 1.2rem;
  gap: 40px;

  .branding {
    img {
      height: 16px;
      object-fit: contain;
      margin: 0.75rem 0.5rem;
    }
  }

  nav {
    display: flex;
    width: 100%;

    ul {
      display: flex;
    }

    li {
      width: max-content;
      cursor: pointer;
    }

    .nav-text {
      font-family: "Helvetica Neue", "Segoe UI Medium", Tahoma, Geneva, Verdana,
        sans-serif;
      margin: auto 0rem;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.5rem;

      &:hover {
        background: black;
        color: white;
        border-radius: 999rem;
      }
    }

    .nav-icon {
      aspect-ratio: 1;
      width: 40px;
      height: 40px;
      img,
      svg,
      path {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem;
        line-height: 0;
      }
    }

    .action-buttons {
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 0.5rem 1rem;
  }
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 360px;
  background-color: white;
  padding: 0px 1.5rem;
  padding-inline-end: 0;
  box-shadow: 0px 0px 0px 100vmax rgba($color: #000, $alpha: 0.9);
  overflow: scroll;
  animation: animateIn 0.3s ease-in;

  .nav-text {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0rem;
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    animation: animateInUl 0.7s cubic-bezier(0, 0, 0.15, 1);

    img,
    svg,
    path {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 0;
    }
  }

  @keyframes animateIn {
    0% {
      box-shadow: 0px 0px 0px 100vmax rgba($color: #000, $alpha: 0);
      transform: translateX(100%);
    }
    100% {
      box-shadow: 0px 0px 0px 100vmax rgba($color: #000, $alpha: 0.9);
      transform: none;
    }
  }

  @keyframes animateInUl {
    0% {
      transform: translateX(5%);
      opacity: 0;
    }
    50% {
      transform: translateX(5%);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  ul {
    padding: 1.25rem 0px;
    border-bottom: 1px solid gainsboro;
  }

  .no-border {
    border-bottom: none;
  }

  .no-top-padding {
    padding-top: 4rem;
  }

  button {
    all: unset;
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    padding: 0.75rem;
    float: right;
    cursor: pointer;
    img,
    svg,
    path {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.5rem;
      line-height: 0;
    }
  }
}

li {
  list-style: none;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1200px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  header {
    grid-template-columns: 1fr auto;
  }
}

.visible {
  display: unset;
}

footer {
  display: flex;
  width: 100vw;

  a {
    all: unset;
    cursor: pointer;
    transition: color 0.2s ease;
    &:hover {
      text-decoration: underline;
      color: blue;
    }
  }
  section {
    border: 1px solid gainsboro;
    border-left: none;
    width: 100%;
    padding: 0px 1rem;
    font-size: x-small;
    h3 {
      padding: 1rem 0px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      &:last-child {
        padding-bottom: 1rem;
      }
    }
    &:last-child {
      padding-right: none;
    }
  }

  &.copyright {
    flex-direction: column;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
    font-size: x-small;
    p {
      margin: 1rem;
      margin-bottom: 0;
    }
  }

  &.links {
    padding: 1rem;
    gap: 1rem;
    font-size: x-small;
  }

  .seperator {
    color: gainsboro;
  }

  .trailing {
    display: flex;
    margin-left: auto;
    gap: 0.25rem;
    align-items: center;
    img {
      width: 1rem;
      height: 1rem;
      line-height: 0;
    }
  }
}
